@page
@model ThynkPCRProject.Pages.PCR.IndexModel
@{
    <br />
    <h2>List of Bookings</h2>
    <a class="btn btn-primary btn-sm" href="/PCR/Create">New Bookings</a>
    <br />
    <table class="table">
        <thread>
            <tr>
                <th>ID</th>
                <th>Venue ID</th>
                <th>Date</th>
                <th>ID Card</th>
                <th>Booking ID</th>
            </tr>

        </thread>
        <tbody>
            @foreach (var booking in Model.bookings)
            {
                <tr>
                    <td>@booking.id</td>
                    <td>@booking.pcrtestvenueid</td>
                    <td>@booking.date</td>
                    <td>@booking.idcard</td>
                    <td>@booking.pcrbookingid</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/PCR/Edit?id=@booking.id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/PCR/Delete?id=@booking.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
