@page
@model ThynkPCRProject.Pages.PCR.IndexModel
@{
    <br />
    <h2>List of Bookings</h2>
    <a class="btn btn-primary btn-sm" href="/PCR/Create">New Bookings</a>
    <br />
    <table class="table">
        <thread>
            <tr>
                <th>ID</th>
                <th>Venue ID</th>
                <th>Date</th>
                <th>ID Card</th>
                <th>Status ID</th>
            </tr>

        </thread>
        <tbody>
            @foreach (var booking in Model.bookings)
            {
                <tr>
                    <td>@booking.id</td>
                    <td>@booking.pcrtestvenueid</td>
                    <td>@booking.date.Remove(booking.date.Length-12)</td>
                    <td>@booking.idcard</td>
                    <td>@booking.pcrbookingid</td>
                    
                </tr>
            }
        </tbody>
    </table>
}
